.container {
  padding: 20px 15px;
}

.add-task {
  background-color: blue;
  margin-bottom: 20px;
  color: white;
  border-radius: 50%;
}

.task-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

.task-container {
  margin-bottom: 20px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-details {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.task-title {
  margin-right: 10px;
}

.task-title.completed {
  text-decoration: line-through;
}

.subtask-container {
  margin-top: 0;
}

.subtask {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-subtask {
  display: flex;
  align-items: center;
}

.subtask-title {
  margin-right: 10px;
}

.subtask-title.completed {
  text-decoration: line-through;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: 80vw;
  max-height: 70vh;
  overflow-y: scroll;
  text-align: center;
}
